<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyAigoprov"
        tools:targetApi="31">
        <activity
            android:name=".ui.profile.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.milk.DetailedActivity">
        </activity>
        <activity
            android:name=".ui.createUser.CreateUserActivity"
            android:exported="false"
            android:label="@string/title_activity_create_user"
            android:theme="@style/Theme.MyAigoprov" /> <!-- Δημιουργία του MainActivity με τον Intent Filter για την αρχική οθόνη -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyAigoprov.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Δημιουργία του WelcomeActivity -->
        <activity android:name=".ui.welcomeUser.WelcomeActivity" />
    </application>

</manifest>